---
# Top level domain for the demo environment
tld: demo

# UCP Password
password: password

# Docker versions
ee_version: stable-17.03
ucp_version: 2.1.4
dtr_version: 2.2.6

# URL and License
ee_url: https://storebits.docker.com/ee/replace_with_your_url

license: {"key_id":"replace_with_your_license"}

# Tokens updated automatically by scripts
manager_token: placeholder
worker_token: placeholder
ucp_token: placeholder
